{% extends "layout.html" %}
{% block content %}
    <h1><b>Project Name :</b>  Expiry Date Notifier</h1>
    <p>This web application allows you to append the products to your account along with its Manufacturing Date.<br>
    After the Manufacturing Date and product is added, the web application calculates the current date and expiry date and
notifies the user about the expiry date at regular intervals.Once the product is expired,the web app advises the user not yo use the
product further.</p>
<p>Project By<br>
    <ul>
        <li><b>Pothikkannan G</b></li>
        <li><b>Sanjay S</b></li>
    </ul>
</p>
{% endblock content %}
